<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person in groups</title>        <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div class="page-header" align="center">
    <h4><a href="/new">
        <button class="btn btn-dark btn-lg">Nowy kontakt</button>
    </a>
        <a href="/allusers">
            <button class="btn btn-dark btn-lg">Wszystkie kontakty</button>
        </a>
        <a href="/allGroups">
            <button class="btn btn-dark btn-lg">Wszystkie grupy</button>
        </a></h4>
</div>
<div align="center">
    {% for person in people %}
        <h4>{{ person }} </h4>jest w grupach: <BR>
        {% if person.group.all %}
            {% for group in person.group.all %}
                {{ group }},
            {% endfor %}
        {% else %}
            <strong>Brak przypisanych grup</strong><BR><br>
        {% endif %}
    {% endfor %}
</div>
<BR>
<div align="center">
    <form method="get">
        <button class="btn btn-dark" formaction="/allGroups">Pokaż wszystkie grupy</button>
    </form>
</div>

</body>
</body>
</html>