<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dane osoby </title>

</head>
<body>

    <table border="2">
        <th colspan="2">Dane osoby</th>
            <tr>
                <td>Imię: </td>
                <td>{{ person_name }}</td>
            </tr>
            <tr>
                <td>Nazwisko:</td>
                <td>{{ person_surname }}</td>
            </tr>
            {% if person_description %}
                <tr>
                    <td>Opis: </td>
                    <td>{{ person_description }}</td>
                </tr>
            {% endif %}
            {% if persons_phones %}
                <tr>
                    <td>telefony: </td>
                    <td>
                        <ul>{% for telephone in persons_phones %}
                            <li>{{ telephone }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endif %}
            {% if persons_emails %}
                <tr>
                    <td>e-maile: </td>
                    <td>
                        <ul>{% for email in persons_emails %}
                            <li>{{ email }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endif %}
            {% if persons_adress %}
                <tr>
                    <td>Adres: </td>
                        {% if persons_adress.flat == None %}
                            <td>{{ persons_adress.city }}, {{ persons_adress.street }} nr {{ persons_adress.house }}</td>
                        {% else %}
                            <td> {{ persons_adress }} </td>
                        {% endif %}
                </tr>
            {% endif %}
    </table>

    <form method="get">
        <button formaction="/modify/{{ person_id }}">Modyfikuj</button>
        <button formaction="/allusers">Pokaż wszystkich</button>
    </form>


</body>
</html>