<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
    <tr>
        <th colspan="2">Twoi użytkownicy</th>
        <td><form><button formaction="new" formmethod="get">Dodaj</button></form></td>
    </tr>

        {% for person in all_people %}
            <tr>
                <td>
                    {{ person.surname }}, <a href="show/{{ person.id }}">{{ person.name }}</a>
                </td>
                <td>
                    <form method="get">
                        <button formaction="modify/{{ person.id }}">Modyfikuj</button>
                    </form>

                </td>
                <td>
                    <form>
                        <button formaction="delete/{{ person.id }}">Skasuj</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>